/*====================================
=            Placeholders            =
====================================*/

%font-hind {
  font-family: 'Hind Vadodara', sans-serif;
  font-display: swap;
}

%font-gibson {
  font-family: canada-type-gibson, sans-serif;
  font-display: swap;
}

%font-input {
  font-family: input-sans-compressed, sans-serif;
  font-display: swap;
}

%fontello {
  font-family: $font__fontello;
  font-display: swap;
}

%ellipse {
  display: block;
  font-weight: 100;
  line-height: 1;
  letter-spacing: 1rem;
  text-align: center;
  @extend %font-gibson;
  @include fluid-type(54px, 80px);
}

%filters-label {
  display: block;
  margin-bottom: 0.5rem;
  color: $color__gray-darker;
  @include font-size(16px);
  @extend %font-gibson;
}

%nav-trigger {
  color: $color__white;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  opacity: 0.8;
  content: 'menu';
  @include font-size(14px);
  @extend %font-gibson;

  &:hover {
    opacity: 1;
  }
}

%further-reading {
  ul {
    @extend %plain-list;

    li {
      margin-bottom: 1rem;
      padding-left: 0;
      @extend %p3;
    }
  }
}

%link-focus {
  background-color: rgba($color__focus, 0.15);
  border: solid 1px $color__focus;
  outline: 0;
}

%form-focus {
  outline: 2px solid $color__focus;
}

%p1 {
  line-height: $font__line-height-body;
  @include fluid-type(18px, 20px);
}

%p2 {
  color: rgba($color__gray-darkest, 0.75);
  line-height: 1.4;
  @include font-size(18px);
}

%p3 {
  color: rgba($color__gray-darkest, 0.65);
  line-height: 1.25;
  @include font-size(16px);

  figcaption &,
  #authors & {
    @extend %font-gibson;
  }
}

%p4 {
  color: rgba($color__gray-darkest, 0.65);
  line-height: 1.24;
  @include font-size(14px);

  .chart-figure & {
    main.homepage & {
      padding-bottom: 0.25rem;
      border-bottom: 1px solid rgba($color__gray-darkest, 0.35);
    }

    main.data & {
      margin: 0;
      color: $color__gray-medium-warm;
      line-height: 1.29;
      @extend %font-gibson;
    }
  }

  .download & {
    @include font-size(14px);
    @extend %font-gibson;
  }

  @include font-size(13px);
}

%nav-link {
  @extend %font-gibson;
  color: rgba($color__gray-darkest, 0.65);
  @include font-size(21px);

  .site-header--minimal & {
    @include font-size(15px);
  }

  @include breakpoint('medium') {
    font-weight: 500;
    letter-spacing: 0.8px;
    text-align: center;
    text-transform: uppercase;
    @include font-size(15px);
  }

  &:hover,
  &:focus {
    color: $color__black;
  }
}

%nav-summary-link {
  @extend %font-gibson;
  @include font-size(16px);

  &:hover,
  &:focus {
    color: $color__black;
  }
}

%plain-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;

  li {
    &::before {
      content: none;
    }
  }
}

%icon-pseudo-element {
  position: relative;
  display: inline-block;
  font-weight: normal;
  font-style: normal;
  line-height: 1em;
  text-align: center;
  speak: none;
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include font-size(14px);
  @extend %fontello;
}

%btn-list {
  display: flex;
  flex-wrap: wrap;
  @extend %plain-list;

  li {
    margin-bottom: 1.25rem;
    padding-left: 0;

    @include breakpoint('medium') {
      margin-bottom: 0.75rem;
    }

    > * {
      margin-right: 1rem;

      > * {
        @include button;
      }

      &.checked {
        > * {
          @include button-checked;
        }
      }
    }
  }
}

%negative-margin {
  @each $size in $sizes__default {
    @include breakpoint($size) {
      $margin: return-map-value($sizes__container-padding, $size) * -1;
      margin: 0 $margin;
    }
  }
}
