/*====================================
=            Placeholders            =
====================================*/

%font-hind {
  font-family: 'Hind Vadodara', sans-serif;
  font-display: swap;
}

%font-gibson {
  font-family: canada-type-gibson, sans-serif;
  font-display: swap;
}

%font-input {
  font-family: input-sans-compressed, sans-serif;
  font-display: swap;
}

%fontello {
  font-family: $font__fontello;
  font-display: swap;
}

%filters-label {
  @include font-size(16px);
  color: $color__gray-darker;
}

%figcaption {
  @extend %font-gibson;
  @include font-size(16px);
  line-height: 1.25;
}

%focus {
  outline: 2px solid $color__focus;
}

%link-gray {
  color: $color__gray-darker;

  &:hover,
  &:focus {
    color: $color__black;
  }
}

%icon-pseudo-element {
  position: relative;
  top: -0.05rem;
  display: inline-block;
  @extend %fontello;
  font-weight: normal;
  line-height: 1em;
  text-align: center;
  transition: all 0.3s ease-in-out;
  speak: none;
  -webkit-font-smoothing: antialiased;
  @include font-size(14px);
}

%mobile-margin {
  @for $i from 1 through length($sizes__mobile) {
    $size_name: nth($sizes__mobile, $i);

    $size_index: index($sizes__default, $size_name);

    $size: nth($sizes__default, $size_index - 1);
    $size_up: nth($sizes__default, $size_index);

    $margin: return-map-value($sizes__container-padding, $size) * -1;

    @include breakpoint(
      $break: return-map-value($breakpoints, $size),
      $until: return-map-value($breakpoints, $size_up)
    ) {
      margin-right: $margin;
      margin-left: $margin;
    }
  }
}

%negative-margin {
  @each $size in $sizes__default {
    @include breakpoint($size) {
      $margin: return-map-value($sizes__container-padding, $size) * -1;
      margin: 0 $margin;
    }
  }
}
