/*=================================
=            Variables            =
=================================*/
$icons: ('agriculture', 'medical', 'talent', 'technology', 'education');

/*----------  Colors  ----------*/

$color__orange: #f78502;
$color__orange-dark: #d46e02;

$color__focus: #4cc6f2;

$color__white: #fff;
$color__gray-lightest: #fcfcfc;
$color__gray-lighter: #f3f3f3;
$color__gray-light: #e3e5e7;
$color__gray-medium-cool: #707c8c;
$color__gray-medium-warm: #8f8f8f;
$color__gray-dark: #5d6365;
$color__gray-dark-cool: #42494b;
$color__gray-darker: #42494b;
$color__gray-darkest: #333;
$color__black: #000;

/*----------  Typography  ----------*/

$font__fontello: 'southbound';
$font__fontello_url: '../fonts/';

$font__line-height-body: 1.6;

/*----------  Structure  ----------*/

$sizes__default: ('xsmall', 'small', 'medium', 'large', 'xlarge');

$sizes__mobile: ('xsmall', 'small');
$sizes__desktop: ('medium', 'large', 'xlarge');

$breakpoints: (
  'xsmall': 0,
  'small': 27rem,
  'medium': 48em,
  'large': 63em,
  'xlarge': 90em
);

$sizes__container-padding: (
  'xsmall': 20px,
  'small': 32px,
  'medium': 32px,
  'large': 48px,
  'xlarge': 48px
);

$size__gap: 32px;
$size__padding-mobile: 20px;
$size__padding-desktop: 24px;

$size__container__max-width: 1024px;
$size__header__max-width: 1200px;
$size__one-column__max-width: 650px;
$size__one-column__paragraph: 50%;

$sizes__one-column__image: (
  'xsmall': 90%,
  'small': calc(50% - 1rem),
  'medium': 280px,
  'large': 325px,
  'xlarge': 325px
);

$sizes__two-column__paragraph: (
  'small': 100%,
  'medium': calc(100% - 375px - #{$size__gap} / 2),
  'large': calc(100% - 375px - #{$size__gap} / 2),
  'xlarge': calc(100% - 375px - #{$size__gap} / 2)
);

$sizes__two-column__image: (
  'small': 400px,
  'medium': 325px,
  'large': 375px,
  'xlarge': 375px
);

$size__header-height-mobile: 48px;
$size__header-height-desktop: 80px;

$size__footer-padding-top: (
  'small': 32px,
  'medium': 40px,
  'large': 48px,
  'xlarge': 72px
);
