html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  --breakpoint: 'xsmall';
  position: relative;
  margin: 0;
  overflow-x: hidden;
  background: $color__white;
  @extend %font-hind;

  @include breakpoint('small') {
    --breakpoint: 'small';
  }

  @include breakpoint('medium') {
    --breakpoint: 'medium';
  }

  @include breakpoint('large') {
    --breakpoint: 'large';
  }

  @include breakpoint('xlarge') {
    --breakpoint: 'xlarge';
  }

  @media screen and (min-width: 120em) {
    --breakpoint: 'xlarge-2';
  }
}

main {
  max-width: $size__container__max-width;
  margin: auto;
  padding: 0 $size__padding-mobile;

  @include breakpoint('medium') {
    padding: 0 $size__padding-desktop;
  }

  &.about,
  &.errorpage {
    padding-bottom: 4.5rem;
  }
}

main,
footer {
  position: relative;
  z-index: -100;
}

nav,
main,
footer,
header {
  display: block;
}

a,
i,
button {
  transition: all 0.2s ease-in-out;
}

.wrapper {
  position: relative;
  z-index: 1;
}

.js-no-scroll,
.js-no-scroll body {
  height: unset !important;
  overflow: hidden;
  touch-action: none;
}

/* Create class to allow scrolling on certain elements, like modal windows */
.allow-scroll {
  touch-action: auto !important;
}

.content-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -10;
  background-color: $color__gray-darkest;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s ease-in-out;

  &.is-active {
    visibility: visible;
    opacity: 0.25;
  }
}
