/*=========================================
=            Print Stylesheets            =
=========================================*/
@media print {
  *,
  *::before,
  *::after {
    color: #000 !important; // Black prints faster: h5bp.com/s
    text-shadow: none !important;
    background-color: transparent !important;
    box-shadow: none !important;
    filter: none !important;
  }

  html {
    font-size: 12px;
  }

  body {
    margin: 25mm;
  }

  .page-header {
    &__highlights {
      margin-bottom: 0 !important;
      padding: 0 !important;

      &::after {
        content: none !important;
      }
    }

    &__content {
      margin: 0 !important;
      background: transparent !important;

      &-details {
        grid-column-end: 3;
        grid-column-start: 2;
      }

      &-wrapper {
        position: static !important;
        display: block !important;
        max-width: unset !important;
        height: unset !important;
        text-align: center;
      }
    }
  }

  h1 {
    font-size: 4rem !important;
  }

  h2,
  h3,
  li {
    break-after: avoid;
  }

  main p {
    font-size: 1rem !important;
  }

  .site-header,
  .listings__filters,
  .share,
  .download,
  .ellipse,
  [class^='icon']:not(.icon-external),
  .jump-links,
  .site-footer .wrapper,
  .page-header__content-graphic {
    display: none !important;
  }

  a:link,
  a:visited {
    color: #000 !important;
  }

  main.about {
    .intro {
      > div {
        max-width: calc(650px - 100px);
        margin-left: auto;
      }
    }

    #authors {
      li {
        display: grid;
        grid-column-gap: 1.5rem;
        grid-template-columns: minmax(50px, 100px) minmax(250px, auto);
        grid-template-rows: 1fr;
      }
    }
  }

  .two-column {
    max-width: $size__one-column__max-width;
    margin: auto;
  }

  .one-column {
    aside {
      float: right;
      margin-left: 2rem;
    }

    .component-image {
      float: right;
      max-width: 200px;
      margin-left: 2rem;
    }

    aside {
      max-width: 200px;
    }
  }

  main.data {
    .chart {
      padding: 2rem 0;
    }
  }

  main.homepage {
    button.detail__trigger + p {
      max-height: 900px !important;
      opacity: 1 !important;
    }

    .abstract {
      display: block;

      .one-column .component-image {
        float: right;
        margin-left: 2rem;
      }
    }
  }
}
