// html {
// }

body,
button {
  color: $color__gray-darkest;
  @extend %font-hind;
}

input,
select,
textarea {
  color: $color__gray-darkest;
}

/*================================
=            Headings            =
================================*/

@for $i from 1 through 6 {
  h#{$i} {
    margin: 0 0 0.5rem;
    color: $color__black;
    @extend %font-gibson;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
  }
}

h1 {
  color: $color__gray-lightest;
  line-height: 0.94;
  @include fluid-type(54px, 80px);
}

h2 {
  margin-bottom: 0.75rem;
  @include fluid-type(32px, 40px);
  font-weight: 100;
  text-align: center;

  .data & {
    font-weight: 400;
    text-align: left;
  }
}

h3 {
  @include fluid-type(26px, 32px);
  font-weight: 400;

  .homepage & {
    font-weight: 100;

    span {
      color: $color__orange;
      font-weight: 400;
    }
  }
}

h4 {
  font-weight: 400;
  @include fluid-type(22px, 24px);
}

h5 {
  color: $color__gray-darkest;
  font-weight: 500;
  @include font-size(20px);
}
/*============================
=            Copy            =
============================*/

p {
  .site-footer & {
    @extend %p3;
    color: rgba($color__white, 0.8);
  }

  main & {
    @extend %p1;
    margin-top: 0.25rem;
    margin-bottom: 1rem;
  }

  aside & {
    @extend %p2;
  }
}

ul {
  margin-top: 0;
  padding-left: 1.5rem;

  main & {
    @include fluid-type(18px, 20px);

    li {
      position: relative;
      margin-bottom: 0.5rem;
      padding-left: 1rem;
      list-style-type: none;

      p {
        flex-basis: calc(100% - 10px);
      }

      &::before {
        position: absolute;
        top: 1rem;
        left: -0.6rem;
        content: '•';
        line-height: 0;
        @include font-size(20px);
      }
    }
  }
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

blockquote {
  margin: 0 0 0.5rem;

  &,
  p {
    color: $color__gray-darkest;
    @extend %font-hind;
    line-height: 1.5;
    @include font-size(20px);

    cite {
      color: $color__gray_darker;
      @extend %font-hind;
      font-style: normal;
      @include font-size(16px);
    }
  }
}

address {
  margin: 0 0 0.75rem;
  font-style: normal;
}
