input[type='submit'],
button {
  padding: 0;
  text-transform: uppercase;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  @include font-size(15px);

  &:focus {
    @extend %focus;
  }

  &.block {
    display: block;
  }

  &::before,
  &::after {
    @extend %icon-pseudo-element;
  }

  &::after {
    margin-left: 0.25rem;
  }

  &::before {
    margin-right: 0.25rem;
  }

  &.btn {
    @include button;
  }
}
