.chart {
  @include breakpoint('large') {
    display: flex;
  }

  &-text {
    @include breakpoint('large') {
      flex-shrink: 0;
      flex-basis: 40%;
    }

    &_title {
      color: $color__gray-medium;
      font-weight: bold;

      main.data & {
        @include fluid-type(24px, 26px);
      }
    }

    &_subtitle {
      color: $color__gray-medium;
      font-family: $font__sans-serif;
      line-height: $font__line-height-body;

      main.data & {
        @include fluid-type(18px, 20px);
      }
    }

    &_tags {
      display: flex;
      flex-wrap: wrap;

      .tag {
        color: $color__white;
        background-color: $color__gray;

        &.active {
          background-color: $color__test;
        }

        @include breakpoint('medium') {
          margin-right: 1rem;
        }
      }
    }
  }

  &-figure {
    @include breakpoint('large') {
      flex-basis: 60%;
    }
  }

  &-figure_caption p {
    margin: 0;
    font-family: $font__sans-serif;
    cursor: default;
    @include font-size(10px);

    main.data & {
      @include font-size(12px);
    }

    &:first-of-type {
      display: none;
      color: $color__black;

      main.data & {
        display: block;
      }
    }
  }
}

.highcharts-axis-title {
  font-family: $font__sans-serif;
  fill: $color__gray-medium;

  main.data & {
    @include font-size(14px);
  }
}

.highcharts-xaxis-labels {
  font-family: $font__sans-serif;
  fill: $color__gray-medium;

  main.data & {
    @include font-size(12px);
  }
}

.highcharts-yaxis-labels {
  font-family: $font__sans-serif;
  fill: $color__gray-medium;

  main.data & {
    @include font-size(12px);
  }
}

.highcharts-legend-item {
  font-family: $font__sans-serif;
  fill: $color__gray-medium;

  main.data & {
    @include font-size(12px);
  }
}

.highcharts-tooltip {
  font-family: $font__sans-serif;
  filter: none !important;
  fill: $color__gray-medium;
  @include font-size(18px);

  span span:first-of-type {
    font-weight: bold;
  }

  p {
    margin-bottom: 0.5rem;
    line-height: 1;
  }
}

.highcharts-tooltip-box {
  stroke: $color__gray;
}

.highcharts-xaxis-grid .highcharts-grid-line {
  stroke-width: 1px;
}

.highcharts-axis-line {
  stroke-width: 0;
}
