[id='8.4'].chart {
  &,
  .chart-figure__graph,
  .highcharts-container,
  .highcharts-root {
    overflow: visible !important;
  }
}

.chart {
  &-text {
    @include breakpoint('large', 'max-width') {
      margin-bottom: 2.5rem;
    }
    @include breakpoint('large') {
      flex-shrink: 0;
      flex-basis: 40%;
    }

    &__title {
      color: $color__gray-darkest;
      @extend %font-gibson;

      main.data & {
        @include fluid-type(24px, 26px);
      }
    }

    &__subtitle {
      @extend %p3;
    }
  }

  &-text__tags {
    @extend %btn-list;

    li {
      > * {
        @include button;
      }

      &.checked {
        > * {
          @include button-checked;
        }

        &:hover > * {
          background-color: $color__orange;
        }
      }
    }
  }

  &-figure {
    @include breakpoint('large') {
      flex-basis: 60%;
    }
  }

  &-figure__caption {
    main.data & {
      padding-top: 0.5rem;
      border-top: 1px solid rgba($color__black, 0.2);
    }

    p {
      &.chart-figure__caption-title {
        @extend %p3;
        margin-bottom: 0.5rem;
        color: $color__gray-darkest;
        @extend %font-gibson;
      }

      &:not(.chart-figure__caption-title) {
        @extend %p4;
        margin-bottom: 0.5rem;
      }
    }
  }
}

.highcharts-container {
  overflow: visible;
}

.highcharts-axis-title {
  @extend %font-hind;
  fill: $color__gray-medium-cool;

  main.data & {
    @include font-size(14px);
  }
}

.highcharts-legend-item tspan,
.highcharts-label tspan {
  @extend %font-hind;
  font-weight: 100;
  @include font-size(14px);
  fill: $color__black;
}

.highcharts-xaxis-labels {
  @extend %font-hind;
  fill: $color__gray-medium-cool;

  main.data & {
    @include font-size(12px);
  }
}

.highcharts-yaxis-labels {
  @extend %font-hind;
  fill: $color__gray-medium-cool;

  main.data & {
    @include font-size(12px);
  }
}

.highcharts-legend-item {
  @extend %font-hind;
  fill: $color__gray-medium-cool;

  main.data & {
    @include font-size(12px);
  }
}

.highcharts-tooltip {
  @extend %font-hind;
  filter: none !important;
  fill: $color__gray-medium-cool;

  span span:first-of-type {
    font-weight: bold;
  }

  p {
    margin-bottom: 0.5rem;
    line-height: 1;
    @include font-size(14px);
  }
}

.highcharts-tooltip-box {
  stroke: $color__gray-medium-cool;
}

.highcharts-xaxis-grid .highcharts-grid-line {
  stroke-width: 1px;
}

.highcharts-axis-line {
  stroke-width: 0;
}
