.download {
  display: block;
  max-width: 280px;
  margin: 0 auto 1.5rem;
  padding: 0.6rem 1.2rem;

  &:not(:focus) {
    border: solid 1px rgba($color__gray-light, 0.48);
  }

  &:focus {
    @extend %link-focus;
  }

  .page-header & {
    box-shadow: 0 2px 4px 0 rgba($color__black, 0.04);

    &:not(:focus) {
      background-color: $color__gray-lighter;
    }

    &:hover,
    &:focus {
      background-color: $color__gray-light;
    }
  }

  .site-header & {
    &:not(:focus) {
      background-color: rgba($color__white, 0.5);
    }

    &:hover {
      background-color: rgba($color__white, 0.9);
    }

    .icon-download {
      color: rgba($color__gray-darkest, 0.65);

      &::after {
        color: rgba($color__gray-darkest, 0.75);
      }
    }
  }

  &:hover,
  &:focus {
    .icon-download {
      color: $color__gray-darkest;

      &::after {
        color: $color__gray-darkest;
      }
    }
  }

  p {
    @extend %p4;
    margin: 0;
  }
}
