input[type='checkbox'] {
  position: absolute;
  opacity: 0;

  &:focus + label,
  &:focus + span.label {
    @extend %form-focus;
  }
}

input[type='search'] {
  background-color: $color__white;
  border: 0;

  &::-webkit-search-decoration,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    /* stylelint-disable */
    -webkit-appearance: none;
    /* stylelint-enable */
  }

  &:focus {
    @extend %form-focus;
  }

  &::placeholder {
    color: rgba($color__gray-dark, 0.35);
  }

  @include font-size(16px);
}
