.site-header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 0 0 20px;

  @include breakpoint('large', 'max-width') {
    background-color: $color__gray-dark-cool;
  }

  &-trigger {
    position: relative;
    display: block;
    height: 100%;
    padding: 0 20px;
    background-color: $color__gray-darkest;

    @include breakpoint('large') {
      display: none;
    }

    .site-header--hidden & {
      display: none;
    }

    &::before {
      @extend %nav-trigger;
      content: 'menu';
    }

    &.is-active::before {
      content: 'close';
    }
  }

  &-menu {
    margin: 0;
    transition: transform 0.5s linear, opacity 0s linear 0.2s;

    @include breakpoint('large', 'max-width') {
      position: absolute;
      top: 100%;
      left: 0;
      z-index: -1;
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 0;
      background-color: $color__gray-light;
      transform: translateY(-150%);
      opacity: 0;
    }

    @include breakpoint('large') {
      display: grid;
      grid-column-gap: 1.25rem;
      grid-template-columns: repeat(3, auto);
      grid-template-rows: 1fr;
      padding: 0 1rem 0 0;
    }

    &.is-active {
      transform: translateY(2px);
      opacity: 1;
    }

    .menu-item {
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      @include breakpoint('large', 'max-width') {
        &:not(:first-child) {
          margin-top: 1.25rem;
        }

        &:first-child {
          padding-top: 1.25rem;
          background-color: $color__white;
        }
      }

      &:last-child > a {
        @extend %nav-summary-link;
      }

      &__toc {
        width: 100%;
        @extend %plain-list;

        li {
          padding: 1rem 1.25rem;

          &:not(:last-child) {
            border-bottom: 1px solid rgba($color__gray-darkest, 0.2);
          }
        }
      }

      &__toc,
      &--large {
        @include breakpoint('large') {
          display: none;
        }
      }
    }
  }
}
