.site-header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;

  @include breakpoint('medium', 'max-width') {
    padding-left: $size__padding-mobile;
    background-color: $color__gray-dark-cool;
  }
  @include breakpoint('medium') {
    padding-left: $size__padding-desktop;
  }

  &-trigger {
    position: relative;
    display: block;
    height: 100%;
    padding: 0 $size__padding-mobile;
    background-color: $color__gray-darkest;

    @include breakpoint('medium') {
      display: none;
    }

    // .site-header--hidden & {
    //   display: none;
    // }

    &::before {
      @extend %nav-trigger;
      content: 'menu';
    }

    &.is-active::before {
      content: 'close';
    }
  }

  &-menu {
    margin: 0;
    transition: transform 0.5s linear, opacity 0s linear 0.2s;

    @include breakpoint('medium', 'max-width') {
      position: absolute;
      top: 100%;
      left: 0;
      z-index: -1;
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 0;
      background-color: $color__gray-light;
      transform: translateY(-150%);
      opacity: 0;
    }

    @include breakpoint('medium') {
      display: grid;
      grid-column-gap: 1.25rem;
      grid-template-columns: repeat(3, auto);
      grid-template-rows: 1fr;
      padding: 0 $size__padding-desktop 0 0;
    }

    &.is-active {
      align-items: center;
      transform: translateY(2px);
      opacity: 1;
    }

    .menu-item {
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      @include breakpoint('medium', 'max-width') {
        &:not(:first-child) a {
          padding-top: 0.75rem;
          padding-bottom: 0.5rem;
        }

        &:first-child {
          padding-top: 1.25rem;
          background-color: $color__white;
        }
      }

      &:last-child > a {
        @extend %nav-summary-link;
      }

      &__toc {
        width: 100%;
        @extend %plain-list;

        li {
          &:not(:last-child) {
            border-bottom: 1px solid rgba($color__gray-darkest, 0.2);
          }
        }
      }

      &__toc,
      &--large {
        @include breakpoint('medium') {
          display: none;
        }
      }

      &__link {
        width: 100%;
        @extend %nav-link;

        @include breakpoint('medium', 'max-width') {
          padding-left: 1.25rem;
        }

        ~ ul a {
          @extend %nav-summary-link;
          color: rgba($color__gray-darkest, 0.65);
        }
      }
    }
  }
}

.site-header:not(.site-header--minimal) .site-header__nav {
  align-items: flex-end;

  .site-header__tagline,
  .site-header__nav-menu {
    padding-bottom: 1rem;
  }

  .site-header__tagline {
    @include breakpoint('large', 'min-width') {
      padding-left: 2rem;
    }
  }
}

.site-header__tagline {
  display: none;
  flex-grow: 1;
  padding-left: 1rem;
  font-size: 0.8em;
  font-style: italic;
  line-height: 1;
  justify-self: left;

  @include breakpoint('large') {
    display: block;
    padding-left: 1rem;
  }
  @include breakpoint('large', 'min-width') {
    font-size: 0.9em !important;
  }
}
