a {
  text-decoration: none;

  background-repeat: no-repeat;
  background-position: 0 95%;

  &:not(.download):focus {
    @extend %link-focus;
  }

  &::before,
  &::after {
    @extend %icon-pseudo-element;
    transition: all 0.2s ease-in-out;

    section:not(.page-header) &:not(.icon) {
      color: rgba($color__gray-medium-cool, 0.5);
    }
  }

  &::after {
    margin-left: 0.25rem;
  }

  &::before {
    margin-right: 0.25rem;
  }

  .site-footer & {
    @extend %p4;
    color: rgba($color__white, 0.5);

    &:hover,
    &:focus {
      color: $color__white;
    }
  }

  main & {
    color: $color__gray-darkest;
    background-image: linear-gradient(
      to bottom,
      rgba($color__gray-medium-cool, 0.6) 0,
      rgba($color__gray-medium-cool, 0.6) 100%
    );
    background-size: 100% 1px;

    &:not(.download):hover {
      color: $color__orange;
      background-size: 100% 0;
    }

    &:visited {
      section:not(#page-header) & {
        color: $color__gray-medium-cool;

        background-image: linear-gradient(
          to bottom,
          $color__gray-medium-cool 0,
          $color__gray-medium-cool 100%
        );
      }
    }

    &[class]:not(.icon-external) {
      background-size: 1px 0;

      &:not(.icon):not(.icon-report):not(.icon-graph):not(.download) {
        color: rgba($color__gray-darkest, 0.65);
      }

      section:not(#further-reading) & {
        text-transform: uppercase;
      }
    }

    &.icon-external {
      background-size: calc(100% - 20px) 1px;

      &:hover {
        &,
        &::after {
          color: $color__orange !important;
        }
      }
    }
  }

  .jump-links & {
    @include font-size(18px);
  }

  aside &,
  #further-reading &,
  .jump-links &,
  .directory-links & {
    color: rgba($color__gray-darkest, 0.75);
  }

  #page-header &:not([class]) {
    background-size: 100% 1px;
  }
}

[class^='icon-'] {
  transition: all 0.2s ease-in-out;

  &::before,
  &::after {
    @extend %icon-pseudo-element;

    section:not(.page-header):not(.site-footer) {
      color: rgba($color__gray-medium-cool, 0.5);
      transition: all 0.2s ease-in-out;
    }
  }

  &::after {
    margin-left: 0.25rem;
  }

  &::before {
    margin-right: 0.25rem;
  }
}

.icon-download,
.icon-external {
  &::before {
    content: none;
  }
}

#page-header [class^='icon-'] {
  color: rgba($color__gray-darkest, 0.75);
}

.chart [class^='icon-'] {
  color: rgba($color__gray-darkest, 0.65);
}

#page-header [class^='icon-'],
.chart [class^='icon-'] {
  display: block;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  @extend %font-gibson;
  @include font-size(15px);

  &::before {
    color: rgba($color__gray-medium-cool, 0.5);
  }

  &:hover {
    color: $color__gray-darkest;

    &::before {
      color: rgba($color__gray-medium-cool, 0.75);
    }
  }
}

.chart [class^='icon-'] {
  padding: 4px 0;
}

.icon-external {
  &::after {
    @include font-size(12px);
    content: '\0043';
    margin-right: 0.25rem;
  }
}

.icon-download {
  font-weight: 500;
  letter-spacing: 0.8px;
  white-space: nowrap;

  &::after {
    content: '\004e';
  }
}
