[class^='icon-'],
a {
  &::before,
  &::after {
    @extend %icon-pseudo-element;
  }
}

[class^='icon-'] {
  &::after {
    margin-left: 0.25rem;
  }

  &::before {
    margin-right: 0.25rem;
  }
}

a {
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: 0 95%;

  .download &,
  .chart & {
    @extend %font-gibson;
  }

  &:not(.download):focus {
    @extend %link-focus;
  }
}

%main-link {
  background-image: linear-gradient(
    to bottom,
    rgba($color__gray-medium-cool, 0.6) 0,
    rgba($color__gray-medium-cool, 0.6) 100%
  );
  background-size: 100% 1px;

  &:hover {
    color: $color__orange;
    background-size: 100% 0;
  }
}

main > section {
  a {
    &:not([class]),
    &.icon-external {
      @extend %main-link;
    }
  }

  &#page-header a:visited {
    @extend %main-link;
  }

  &:not(#page-header):not(#further-reading) a {
    &:not([class]),
    &.icon-external {
      &:not(:visited) {
        color: $color__gray-darkest;
      }

      &:visited:not(:hover) {
        color: $color__gray-medium-cool;
        background-image: linear-gradient(
          to bottom,
          $color__gray-medium-cool 0,
          $color__gray-medium-cool 100%
        );
      }
    }
  }

  &:not(#page-header):not(#further-reading):not(.site-footer) [class^='icon-'] {
    &::before,
    &::after {
      color: rgba($color__gray-medium-cool, 0.5);
    }
  }

  &#further-reading [class^='icon-'] {
    &::before,
    &::after {
      color: rgba($color__gray-medium-cool, 0.8);
    }
  }
}

aside a,
#further-reading a,
.jump-links a,
.directory-links a {
  color: rgba($color__gray-darkest, 0.75);
}

.jump-links a {
  font-size: calculate-rem(18px);
}

.site-footer a {
  color: rgba($color__white, 0.9);
  @include font-size(14px);
}

[class^='icon-'] {
  #page-header &,
  .chart & {
    display: block;
    font-size: calculate-rem(15px);
    letter-spacing: 0.5px;
    text-transform: uppercase;

    &::before {
      color: rgba($color__gray-medium-cool, 0.5);
    }

    &:hover {
      color: $color__gray-darkest;
    }
  }

  .chart & {
    padding: 0.6rem 0;
    color: rgba($color__gray-darkest, 0.65);

    @include breakpoint('medium') {
      padding: 0.3rem 0;
    }
  }

  &:not(.icon-external) {
    text-transform: uppercase;
    background-size: 1px 0;
  }
}

a.icon-external {
  background-size: calc(100% - 20px) 1px;

  &:hover {
    color: $color__orange !important;

    &::after {
      color: $color__orange !important;
    }
  }

  &::after {
    font-size: calculate-rem(12px);
    content: '\0043';
  }
}

.icon-download {
  font-weight: 500;
  letter-spacing: 0.8px;
  white-space: nowrap;

  &::after {
    content: '\004e';
  }

  #page-header & {
    color: $color__gray-darkest;

    &::after {
      color: rgba($color__gray-darkest, 0.65);
    }
  }
}

.icon-download::before,
.icon-external::before {
  content: none;
}
