img {
  max-width: 100%;

  main & {
    width: 100%;
  }
}

figure.component-image {
  @include breakpoint('large') {
    margin-top: 0.5rem;
  }

  figcaption.img-caption {
    margin-top: 0.5rem;
    @extend %font-gibson;
  }
}

iframe {
  display: block;
  margin-bottom: 1rem;
}

.video-wrapper {
  position: relative;
  margin-bottom: 2rem;

  &::before {
    content: '';
    display: block;
    padding-bottom: calc(100% / (16 / 9));
  }

  * + & {
    margin-top: 2rem;
  }

  > img {
    height: auto;
  }

  > :first-child {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

figure {
  margin: 0;

  figcaption {
    margin: auto;
    @extend %p3;

    .data & {
      color: rgba($color__gray-darkest, 0.5);
    }
  }
}
