.post-footer {
  position: fixed;
  bottom: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  min-height: 50px;
  background-color: #fff;
  border-top: 1px solid $color__gray;
  @extend %mobile-margin;

  @each $size in $sizes__default {
    @include breakpoint($size) {
      $padding: return-map-value($size__container-padding, $size);
      padding: 0 $padding 0 0;
    }
  }

  @include breakpoint('large') {
    display: none;
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.67rem;

    &:focus {
      outline: none;

      &::after {
        @extend %focus;
      }
    }

    &::after {
      @include button-dark;
      width: 2rem;
      height: 2rem;
      margin: 0;
      font-weight: bold;
      border-radius: 50%;
    }
  }

  .btn-share.menu-trigger {
    background-color: $color__white;

    @each $size in $sizes__default {
      @include breakpoint($size) {
        $padding: return-map-value($size__container-padding, $size);
        width: calc(2rem + #{$padding});
        padding: 0 0 0 $padding;
      }
    }

    &::after {
      content: '\e803';
    }
  }

  .btn-back-to-top {
    padding: 0;

    &::after {
      content: '\e810';
    }
  }

  &__nav-menu {
    position: absolute;
    left: 0;
    z-index: -1;
    display: flex;
    width: calc(100% - 8rem);
    margin: 0;
    padding: 0;
    background-color: $color__white;
    transform: translateX(-150%);
    opacity: 0;
    transition: transform 0.5s linear, opacity 0s linear 0.3s;

    &.is-active {
      transform: translateX(60px);
      opacity: 1;
    }
  }
}
