.share {
  display: flex;
  align-items: center;
  @extend %plain-list;

  li {
    padding-left: 0;
  }

  .page-header & {
    justify-content: center;
  }

  .icon {
    display: block;
    margin: 0 0 0 0.5rem;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s ease-in-out;

    #page-header & {
      width: 2.5rem;
      height: 2.5rem;
      margin-bottom: 1rem;

      &:not(:focus) {
        border: 1px solid $color__gray-medium-cool;
      }

      &:hover {
        background-color: $color__gray-medium-cool;

        &::before {
          color: $color__gray-lightest;
        }
      }

      &[tabindex]:focus {
        @extend %link-focus;
        outline: 0;
      }
    }

    .site-footer & {
      width: 3.1rem;
      height: 3.1rem;
      margin: 0 0.5rem 0 0;
      color: rgba($color__white, 0.8);

      @include breakpoint('medium') {
        width: 2.1rem;
        height: 2.1rem;
      }

      &:not(:focus) {
        border: 1px solid rgba($color__white, 0.5);
      }

      &:hover {
        background-color: rgba($color__white, 0.9);

        &::before {
          color: $color__gray-darkest;
        }
      }
    }

    &::before {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      margin: 0;
      @include font-size(24px);
      transition: 0.2s ease-in-out;

      #page-header & {
        color: $color__gray-darkest;
      }

      .site-footer & {
        @include font-size(28px);

        @include breakpoint('medium') {
          @include font-size(20px);
        }

        &,
        &:visited {
          color: rgba($color__white, 0.8);
        }
      }
    }
  }
}
