.about {
  #about_publication,
  #authors {
    &::after {
      content: '...';
      margin: 1.5rem 0 4.5rem;
    }
  }

  .component-image {
    order: 3;

    + p {
      flex-grow: 1;
      flex-basis: calc(50% - 1rem);
      order: 2;
    }
  }

  .intro {
    display: flex;
    flex-wrap: wrap;
    @include order;

    > div {
      flex-grow: 1;
      flex-basis: 50%;

      @include breakpoint('medium') {
        max-width: calc(650px - 100px);
        margin-left: auto;
      }
    }

    > aside {
      order: 2;
    }
  }

  #authors {
    ul {
      @extend %plain-list;
    }

    li {
      @include breakpoint('medium') {
        display: grid;
        grid-column-gap: 1.5rem;
        grid-template-columns: minmax(50px, 100px) minmax(250px, auto);
        grid-template-rows: 1fr;
      }

      h4 {
        margin-bottom: 0.9rem;
      }

      > div:first-of-type {
        padding-top: 0.25rem;
      }

      p:first-of-type {
        @extend %p3;
        margin: 0;
      }

      img {
        max-width: 100px;
      }

      &:not(:last-child) {
        p:last-of-type {
          margin: 0.25rem 0 3rem;
        }
      }
    }
  }

  #special_thanks {
    h4 {
      margin-top: 2rem;
      text-align: left;
    }
  }
}
