#filter-trigger {
  position: absolute;
  opacity: 0;

  @include breakpoint($break: 'large', $dir: 'max-width') {
    ~ ul,
    ~ button {
      height: 0;
      min-height: 0;
      overflow: hidden;
      opacity: 0;
      transition: all 0.2s ease-in-out;
    }

    ~ button {
      position: absolute;
    }

    .listings__filters-category &:checked {
      ~ ul {
        height: auto;
        opacity: 1;
        transition: all 0.2s ease-in-out;
      }

      ~ button {
        position: relative;
        height: auto;
        opacity: 1;
      }
    }
  }
}

.listings__filters {
  padding-top: 0.5rem;

  @include breakpoint('large', $dir: 'max-width') {
    padding-bottom: 1.5rem;
  }
  @include breakpoint('large') {
    display: flex;
  }

  .filters-label {
    @extend %filters-label;
  }

  &-category {
    @include breakpoint('large') {
      flex-basis: 60%;
    }

    .filters-label {
      @include breakpoint('large', $dir: 'max-width') {
        cursor: pointer;
      }
    }
  }

  &-summary {
    @include breakpoint('large') {
      display: none;
    }
  }

  &-search {
    @include breakpoint('large') {
      flex-basis: 40%;
      margin-right: 2rem;
    }

    &-box {
      display: flex;
      height: 3.75rem;
      margin-bottom: 2rem;
      padding: 0 0.75rem;
      background-color: $color__white;
      border: solid 1px rgba($color__gray-dark, 0.15);

      @include breakpoint('medium') {
        height: 3rem;
      }

      &::before {
        @extend %icon-pseudo-element;
        top: 33%;
        margin-right: 0.5rem;
        color: rgba($color__gray-dark, 0.35);
        content: '\e806';
      }

      input {
        width: calc(100% - 2rem);
      }
    }
  }

  &-category__list {
    @extend %btn-list;

    label {
      cursor: pointer;

      > input {
        @include button;
      }
    }
  }
}

#listings {
  @include full-width-background($color__gray-lighter);
  padding: 1.5rem 0 4.5rem;
  background-color: $color__gray-lighter;
}

.listings__results-list {
  min-height: 350px;
  padding-left: 0;
  list-style-type: none;

  .chart {
    padding: 1.5rem 2rem 2.5rem;
    background-color: $color__white;
    box-shadow: 0 2px 4px 0 rgba($color__black, 0.08);

    &.hide {
      display: none;
    }

    &:not(:first-of-type) {
      margin-top: 3rem;
    }
  }
}
