#listings {
  margin-bottom: 2.5rem;
  @include breakpoint('large') {
    display: grid;
    grid-column-gap: 4vw;
    // grid-template-columns: calc((((100% - 288px) / 12) * 4) + 72px) auto;
    grid-template-rows: 1fr;
  }
}

#filter-trigger {
  position: absolute;
  opacity: 0;

  @include breakpoint($break: 'large', $dir: 'max-width') {
    ~ ul,
    ~ button {
      height: 0;
      min-height: 0;
      overflow: hidden;
      background-color: $color__white;
      opacity: 0;
      transition: all 0.2s ease-in-out;
    }

    ~ button {
      position: absolute;
    }

    .listings__filters-category &:checked {
      ~ .filters-label::after {
        transform: rotate(0deg);
      }

      ~ ul {
        height: auto;
        min-height: 100px;
        opacity: 1;
        transition: all 0.2s ease-in-out;
      }

      ~ button {
        position: relative;
        height: auto;
        opacity: 1;
      }
    }
  }
}

.listings__filters {
  padding-top: 0.5rem;

  @include breakpoint('large', $dir: 'max-width') {
    padding-bottom: 1.5rem;
    border-bottom: solid 1px $color__gray-dark;
  }
  @include breakpoint('large') {
    padding-right: 2.5rem;
    border-right: solid 1px $color__gray-dark;
  }

  &-category {
    .filters-label {
      @extend %filters-label;

      @include breakpoint('large', $dir: 'max-width') {
        cursor: pointer;
      }

      &::after {
        @extend %icon-pseudo-element;

        @include breakpoint('large', $dir: 'max-width') {
          margin-left: 0.25rem;
          content: '\e811';
          transform: rotate(180deg);
        }
      }
    }
  }

  &-summary {
    @include breakpoint('large') {
      display: none;
    }
  }

  &-search-box {
    margin-bottom: 2rem;
    padding: 0.33rem 0.5rem;
    border: solid 1px $color__gray-dark;

    &::before {
      @extend %icon-pseudo-element;
      margin-right: 0.5rem;
      content: '\e806';
    }

    input {
      width: calc(100% - 2rem);
    }
  }

  &-category_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    label {
      display: inline-block;
      line-height: 1.56;
      cursor: pointer;

      &::before {
        @extend %icon-pseudo-element;
        margin-right: 0.5rem;
        content: '\e813';
      }

      &.checked::before {
        content: '\e812';
      }
    }
  }
}

.listings__results-list {
  min-height: 350px;
  padding-top: 3rem;

  .chart {
    padding-bottom: 2rem;

    &:not(:first-of-type) {
      padding-top: 1.5rem;
      border-top: 2px solid $color__gray-light;
    }
  }
}
