#filter-trigger {
  position: absolute;
  opacity: 0;

  @include breakpoint($break: 'large', $dir: 'max-width') {
    ~ ul,
    ~ button {
      height: 0;
      min-height: 0;
      overflow: hidden;
      opacity: 0;
      transition: all 0.2s ease-in-out;
    }

    ~ button {
      position: absolute;
    }

    .listings__filters-category &:checked {
      ~ ul {
        height: auto;
        opacity: 1;
        transition: all 0.2s ease-in-out;
      }

      ~ button {
        position: relative;
        height: auto;
        opacity: 1;
      }
    }
  }
}

.listings__filters {
  margin-bottom: 2.5rem;

  @include breakpoint('large') {
    display: flex;
  }

  .filters-label {
    @extend %filters-label;
  }

  &-category {
    @include breakpoint('large') {
      flex-basis: 60%;
    }

    .filters-label {
      @include breakpoint('large', $dir: 'max-width') {
        cursor: pointer;
      }
    }
  }

  &-summary {
    @include breakpoint('large') {
      display: none;
    }
  }

  &-search {
    @include breakpoint('large') {
      flex-basis: 40%;
      margin-right: 2rem;
    }

    &-box {
      position: relative;
      display: flex;
      height: 3rem;
      margin-bottom: 2rem;
      background-color: $color__white;
      border: solid 1px rgba($color__gray-dark, 0.15);

      @include breakpoint('medium') {
        height: 2.25rem;
      }

      &::before {
        position: absolute;
        @extend %icon-pseudo-element;
        @include font-size(18px);
        top: 33%;
        margin-left: 1rem;
        color: rgba($color__gray-dark, 0.35);
        content: '\0041';

        @include breakpoint('medium') {
          top: 33%;
        }
      }

      input {
        width: 100%;
        padding: 0 0.75rem 0 3rem;
      }

      &.focus::before {
        color: $color__gray-medium-cool;
      }
    }
  }

  &-category__list {
    @extend %btn-list;

    label {
      cursor: pointer;

      > input {
        @include button;
      }
    }
  }
}

#listings {
  @include full-width-background($color__gray-lighter);
  padding: 1.5rem 0 4.5rem;
  background-color: $color__gray-lighter;
}

.listings__results-list {
  @extend %plain-list;

  @include breakpoint('medium', 'max-width') {
    width: 100vw;
    margin: 0 calc((100vw - 100%) / -2);
  }

  .chart {
    padding: 1.5rem 2rem 2.5rem;
    background-color: $color__white;
    box-shadow: 0 2px 4px 0 rgba($color__black, 0.08);
    @include breakpoint('medium', 'max-width') {
      margin-bottom: 0;
      border-bottom: 1px solid rgba($color__gray-darkest, 0.2);
    }

    &.hide {
      display: none;
    }

    &:not(.hide) ~ .chart {
      @include breakpoint('medium') {
        margin-top: 3rem;
      }
    }
  }
}

.no-results {
  .listings__results:not(.listings__results--empty) & {
    display: none;
  }

  p {
    @extend %p3;
    color: rgba($color__gray-darkest, 0.75);
  }

  button {
    @extend %clear-all;

    &::before {
      content: '⨯';
      @extend %icon-pseudo-element;
      @include font-size(24px);
    }
  }
}
