#filter-trigger {
  position: absolute;
  opacity: 0;

  @include breakpoint($break: 'large', $dir: 'max-width') {
    ~ ul,
    ~ button {
      height: 0;
      min-height: 0;
      overflow: hidden;
      background-color: $color__white;
      opacity: 0;
      transition: all 0.2s ease-in-out;
    }

    ~ button {
      position: absolute;
    }

    .listings__filters-category &:checked {
      ~ .filters-label::after {
        transform: rotate(0deg);
      }

      ~ ul {
        height: auto;
        min-height: 100px;
        opacity: 1;
        transition: all 0.2s ease-in-out;
      }

      ~ button {
        position: relative;
        height: auto;
        opacity: 1;
      }
    }
  }
}

.listings__filters {
  padding-top: 0.5rem;

  @include breakpoint('large', $dir: 'max-width') {
    padding-bottom: 1.5rem;
    border-bottom: solid 1px $color__gray-dark;
  }
  @include breakpoint('large') {
    display: flex;
  }

  &-category {
    @include breakpoint('large') {
      flex-basis: 60%;
    }

    .filters-label {
      @extend %filters-label;

      @include breakpoint('large', $dir: 'max-width') {
        cursor: pointer;
      }

      &::after {
        @extend %icon-pseudo-element;

        @include breakpoint('large', $dir: 'max-width') {
          margin-left: 0.25rem;
          content: '\e811';
          transform: rotate(180deg);
        }
      }
    }
  }

  &-summary {
    @include breakpoint('large') {
      display: none;
    }
  }

  &-search {
    @include breakpoint('large') {
      flex-basis: 40%;
      margin-right: 2rem;
    }

    &-box {
      margin-bottom: 2rem;
      padding: 0.33rem 0.5rem;
      border: solid 1px $color__gray-dark;

      &::before {
        @extend %icon-pseudo-element;
        margin-right: 0.5rem;
        content: '\e806';
      }

      input {
        width: calc(100% - 2rem);
      }
    }
  }

  &-category_list {
    @include breakpoint('large') {
      display: flex;
      flex-wrap: wrap;
    }

    label {
      display: inline-block;
      color: $color__white;
      line-height: 1.56;
      background-color: $color__gray-medium;
      cursor: pointer;

      &.checked {
        background-color: $color__orange;
      }

      @include breakpoint('large') {
        margin-right: 1rem;
      }
    }
  }
}

.listings__results-list {
  min-height: 350px;
  padding-top: 3rem;

  .chart {
    padding-bottom: 2rem;

    &.hide {
      display: none;
    }

    &:not(:first-of-type) {
      padding-top: 1.5rem;
      border-top: 2px solid $color__gray-light;
    }
  }
}
