#authors {
  ul {
    @extend %plain-list;
  }
}

.homepage {
  #outro::before {
    content: '...';
    margin: 0 0 3rem;
    @include breakpoint('medium') {
      margin: 0 0 4.5rem;
    }
  }

  #intro::after,
  #pillar_four::after {
    content: '...';
    margin: 1.5rem 0 3.5rem;
    @include breakpoint('medium') {
      margin: 2rem 0 4.5rem;
    }
  }

  [id^='pillar'],
  .five-flagship-programs,
  .three-innovative-fields {
    margin-bottom: 4rem;
    @include breakpoint('medium') {
      margin-bottom: 3rem;
    }

    li {
      p:first-of-type {
        display: inline;
      }

      p:not(:first-of-type) {
        @extend %p2;
        margin-bottom: 0;
      }
    }
  }

  .abstract {
    @include order;
    display: flex;
    flex-wrap: wrap;

    @include breakpoint($break: 'medium') {
      display: block;
    }

    .component-image {
      order: 5;

      @include breakpoint($break: 'small') {
        order: 3;
      }
      @include breakpoint($break: 'medium') {
        order: 2;
      }

      + p {
        @include breakpoint($break: 'small', $until: 'medium') {
          flex-grow: 1;
          flex-basis: calc(50% - 1rem);
          order: 2;
        }
      }
    }

    p {
      flex-basis: 100%;
    }
  }

  .five-flagship-programs,
  .three-innovative-fields {
    ul {
      @extend %plain-list;

      @include breakpoint('medium') {
        display: block;
      }
    }

    li {
      padding-bottom: 0.5rem;
      padding-left: 68px;
      background-repeat: no-repeat;
      background-position: left top;
      background-size: 48px;
      transition: all 0.2s ease-in-out;

      &:nth-child(even) {
        @include breakpoint('medium') {
          //margin-left: 32px;
        }
      }
      @include breakpoint('medium') {
        flex-basis: 47%;
      }
    }

    h5 {
      margin-top: 0.25rem;
      margin-bottom: 0;
    }
  }

  .five-flagship-programs {
    li {
      @for $i from 1 through length($icons) {
        &:nth-child(#{$i}) {
          $icon: nth($icons, $i);

          background-image: url('../images/program-#{$icon}.png');
        }
      }
    }
  }

  .three-innovative-fields {
    li {
      @for $i from 1 through length($icons2) {
        &:nth-child(#{$i}) {
          $icon: nth($icons2, $i);

          background-image: url('../images/field-#{$icon}.png');
        }
      }
    }
  }

  #further-reading {
    @include full-width-background($color__gray-lighter);
    margin-top: 4rem;
    padding: 2.5rem 0 4rem;
    background-color: $color__gray-lighter;
    @extend %further-reading;
  }
}
