#authors {
  ul {
    @extend %plain-list;
  }
}

.homepage {
  #outro::before {
    content: '...';
    margin: 1.5rem 0 4.5rem;
  }

  #intro::after {
    content: '...';
    margin: 5rem 0 4.5rem;
  }

  [id^='pillar'],
  .five-flagship-programs,
  .three-innovative-fields {
    margin-bottom: 4.5rem;

    li {
      p:first-of-type {
        display: inline;
      }

      p:not(:first-of-type) {
        @extend %p2;
      }
    }
  }

  .abstract {
    @include breakpoint($break: 'small', $until: 'medium') {
      display: flex;
      flex-wrap: wrap;

      p {
        flex-basis: 100%;
        @include order;
      }

      .component-image {
        order: 3;

        + p {
          flex-grow: 1;
          flex-basis: calc(50% - 1rem);
          order: 2;
        }
      }
    }
  }

  .five-flagship-programs {
    max-width: $size__one-column__max-width;
    margin: auto;

    ul {
      @extend %plain-list;

      @include breakpoint('medium') {
        float: left;
        width: 47%;
      }

      &:first-of-type {
        li {
          @for $i from 1 through length($icons_left) {
            &:nth-of-type(#{$i}) {
              $icon: nth($icons_left, $i);

              background-image: url('../images/program-#{$icon}.png');
            }
          }
        }
      }

      &:last-of-type {
        li {
          @for $i from 1 through length($icons_right) {
            &:nth-of-type(#{$i}) {
              $icon: nth($icons_right, $i);

              background-image: url('../images/program-#{$icon}.png');
            }
          }
        }
        @include breakpoint('medium') {
          margin-left: 32px;
        }
      }
    }

    li {
      padding-left: 68px;
      background-repeat: no-repeat;
      background-position: left top;
      background-size: 48px;
      transition: all 0.2s ease-in-out;
    }
  }

  .three-innovative-fields {
    clear: both;

    li > *:not(:last-child) {
      display: inline;
    }
  }

  #further-reading {
    @include full-width-background($color__gray-lighter);
    margin-top: 4rem;
    padding: 2.5rem 0 4rem;
    background-color: $color__gray-lighter;
    @extend %further-reading;
  }
}
