#authors {
  ul {
    @extend %plain-list;
  }
}

.homepage {
  #outro::before {
    content: '...';
    margin: 0 0 4.5rem;
  }

  #intro::after,
  #pillar_four::after {
    content: '...';
    margin: 2rem 0 4.5rem;
  }

  [id^='pillar'],
  .five-flagship-programs,
  .three-innovative-fields {
    margin-bottom: 2.5rem;

    li {
      p:first-of-type {
        display: inline;
      }

      p:not(:first-of-type) {
        @extend %p2;
        margin-bottom: 0;
      }
    }
  }

  .abstract {
    @include breakpoint($break: 'small', $until: 'medium') {
      display: flex;
      flex-wrap: wrap;

      p {
        flex-basis: 100%;
        @include order;
      }

      .component-image {
        order: 3;

        + p {
          flex-grow: 1;
          flex-basis: calc(50% - 1rem);
          order: 2;
        }
      }
    }
  }

  .five-flagship-programs {
    ul {
      @extend %plain-list;

      @include breakpoint('medium') {
        display: block;
      }
    }

    li {
      padding-left: 68px;
      background-repeat: no-repeat;
      background-position: left top;
      background-size: 48px;
      transition: all 0.2s ease-in-out;

      &:nth-child(even) {
        @include breakpoint('medium') {
          //margin-left: 32px;
        }
      }
      @include breakpoint('medium') {
        flex-basis: 47%;
      }

      @for $i from 1 through length($icons) {
        &:nth-child(#{$i}) {
          $icon: nth($icons, $i);

          background-image: url('../images/program-#{$icon}.png');
        }
      }
    }
  }

  .three-innovative-fields {
    clear: both;

    li > *:not(:last-child) {
      display: inline;
    }
  }

  #further-reading {
    @include full-width-background($color__gray-lighter);
    margin-top: 4rem;
    padding: 2.5rem 0 4rem;
    background-color: $color__gray-lighter;
    @extend %further-reading;
  }
}
