main.post {
  .job-header {
    @include full-width-background($color__gray-lighter);
    margin-bottom: 2rem;
    padding: 2.5rem 0 2rem;
    background-color: $color__gray-lighter;

    @include breakpoint('medium') {
      padding-bottom: 2rem;
    }
  }

  .job-content {
    @include breakpoint('medium') {
      display: grid;
      grid-column-gap: 88px;
      $max: calc(1200px - 88px - 375px);
      grid-template-columns: minmax(240px, $max) minmax(240px, 375px);
      grid-template-rows: 1fr;
      max-width: 1200px;
    }

    &__body {
      position: relative;
      min-height: 350px;
      overflow: hidden;
    }
  }

  aside {
    img {
      max-width: 280px;
      margin-bottom: 1rem;
    }
  }

  .job-post__section {
    margin-bottom: 4.5rem;

    padding-top: 0.5rem;

    &:not(:first-of-type) {
      &::before {
        position: relative;
        top: -0.5rem;
        display: block;
        grid-column-end: span 1;
        grid-column-start: 1;
        border-top: 2px solid $color__gray-darker;
        content: '';
      }
    }
  }
}
