.site-footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
  color: $color__gray-lightest;
  background-color: $color__black-light;

  .faded-half {
    opacity: 0.5;
  }

  &__description {
    padding: 2.5rem 1.25rem;
    background-color: $color__black-light;

    &-details {
      p {
        margin: 1rem 0;
        opacity: 0.8;
        @include font-size(16px);
      }
    }

    h5 {
      color: $color__white;
      text-transform: uppercase;
      @include font-size(20px);
    }

    &-social {
      justify-content: flex-start;
    }
  }

  &__copyright {
    order: 3;
    padding: 0.75rem 1.25rem 1.25rem;
    background-color: $color__black-light;
    
    p {
      @include font-size(14px);
    }

    a {
      color: $color__white;
    }
  }

  &__report {
    padding: 2.5rem 1.25rem;
    background-color: $color__gray-darker;

    &-title {
      h4 {
        margin: 0;
        color: $color__white;
      }

      p {
        margin: 0 0 1.5rem;
      }
    }

    &-authors {
      p {
        @include font-size(16px);

        &:first-of-type {
          margin: 0;
          text-transform: uppercase;
          opacity: 0.5;
        }

        &:not(:first-of-type) {
          margin: 0;
          opacity: 0.9;
        }
      }
    }

    &-info {
      margin: 1rem 0;

      p {
        margin: 0;
        @include font-size(14px);
        opacity: 0.6;

        &:last-of-type {
          margin-top: 0.5rem;
        }
      }
    }

    &-download {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      height: 75px;
      background-color: $color__gray-dark;

      li {
        margin-left: 20px;
        list-style-type: none;

        a {
          color: $color__white;
          text-transform: uppercase;
          @include font-size(15px);
        }
      }
    }
  }
}
