.site-footer {
  max-width: $size__header__max-width;
  background-color: $color__gray-darkest;
  @include full-width-background($color__gray-darkest);
  @extend %font-gibson;

  .wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  p {
    @extend %font-hind;
  }

  &__copyright {
    flex-basis: 100%;
    background-color: $color__gray-darkest;
    @include breakpoint('medium') {
      // flex-basis: 425px;
    }

    @include breakpoint('large') {
      flex-basis: 50%;
    }

    p {
      margin: 0.75rem $size__padding-mobile 1.25rem;
      color: rgba($color__white, 0.5);
      @extend %p4;

      @include breakpoint('medium', $until: 'large') {
        margin: 1rem $size__padding-desktop 1.25rem;
      }
      @include breakpoint('large') {
        margin: 0 $size__padding-desktop 1rem;
      }
    }
  }

  &__copyclear {
    flex-basis: 100%;
    background-color: $color__gray-dark-cool;
    @include full-width-background($color__gray-dark-cool);

    // @include breakpoint('medium') {
    //   flex-basis: calc(100% - 425px);
    // }

    @include breakpoint('large') {
      flex-basis: 50%;
    }
  }

  &__description {
    flex-basis: 100%;
    padding: 3rem $size__padding-mobile;

    @include breakpoint('large') {
      // flex-basis: 425px;
      padding: 3rem 3rem 1rem $size__padding-desktop;
    }

    @include breakpoint('large') {
      flex-basis: 50%;
    }

    .csis-link {
      &:hover svg {
        fill-opacity: 1;
      }

      svg {
        max-width: 290px;
        max-height: 40px;
        transition: all 0.2s ease-in-out;
        fill-opacity: 0.77;

        @include breakpoint('medium') {
          max-width: 325px;
          max-height: 46px;
        }
      }
    }

    &-social {
      @include breakpoint('medium') {
        display: flex;
        align-items: center;
      }

      > div {
        @extend %p3;
        margin: 0 0 0.25rem;
        color: rgba($color__white, 0.5);
        letter-spacing: 1px;
        text-transform: uppercase;

        @include breakpoint('medium') {
          margin: 0 0.75rem 0 0;
        }
      }
    }
  }

  &__report {
    flex-basis: 100%;
    padding: 3rem $size__padding-mobile;
    background-color: $color__gray-dark-cool;

    @include breakpoint('medium') {
      display: flex;
      // flex-basis: calc(100% - 425px);
      padding: 2rem $size__padding-desktop;
      @include full-width-background($color__gray-dark-cool);
    }

    @include breakpoint('large') {
      flex-basis: 50%;
      padding: 3rem $size__padding-desktop 1rem;
    }

    &::before {
      @include breakpoint('medium') {
        background-color: $color__gray-darkest;
      }
    }

    &-image {
      margin-right: 1.5rem;
      @include breakpoint('medium', 'max-width') {
        display: none;
      }
    }

    &-details {
      &-title {
        h4 {
          margin: 0;
          color: $color__white;
          font-weight: 500;
          line-height: 1.2;
          @include fluid-type(20px, 24px);
        }

        p {
          @extend %p2;
          margin: 0 0 2rem;
          color: $color__white;
          @include font-size(18px);
        }
      }

      &-authors {
        > div {
          @extend %p3;

          &:first-of-type {
            color: rgba($color__white, 0.5);
            text-transform: uppercase;
          }

          &:not(:first-of-type) {
            color: rgba($color__white, 0.9);
          }
        }
      }

      &-info {
        margin: 1rem 0;

        > div {
          @extend %p4;
          color: rgba($color__white, 0.6);

          &:last-of-type {
            margin-top: 0.25rem;
          }
        }
      }
    }
  }
}
