.site-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  height: $size__header-height-mobile;
  background-color: $color__gray-lighter;
  box-shadow: 0 2px 4px 0 rgba($color__black, 0.25);
  transition: all 0.2s ease-in-out;

  @include breakpoint('medium') {
    height: $size__header-height-desktop;
  }

  .site-logo {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    font-weight: 100;
    transition: all 0.2s ease-in-out;
    @include full-width-background($color__gray-dark-cool, left, true);

    @include breakpoint('medium') {
      display: block;
      width: 350px;
      line-height: 1.1;
    }

    &::before {
      z-index: 0;
      transition: all 0.2s ease-in-out;
    }

    &:not(.site-logo--csis):not(.site-logo--home) {
      @include breakpoint('medium') {
        background-color: $color__gray-dark-cool;
      }
    }

    &.site-logo--csis {
      background-color: $color__black;

      &::before {
        @include breakpoint('medium') {
          background-color: $color__black;
        }
      }

      svg {
        fill-opacity: 1;
      }

      a.link-home {
        color: rgba($color__white, 0.7);
      }
    }

    &.site-logo--home {
      @include breakpoint('medium') {
        background-color: $color__orange;

        &::before {
          background-color: $color__orange;
        }
      }
    }

    a {
      justify-content: center;
      align-items: center;
      white-space: nowrap;

      &,
      &:hover,
      &:visited,
      &:focus {
        color: $color__white;
      }

      &:focus {
        padding: 0;
        background-color: transparent;
        border: 0;
      }

      &.link-home {
        @extend %font-gibson;
        @include font-size(27px);
        @include breakpoint('medium', 'max-width') {
          padding-right: $size__padding-mobile;
        }
      }

      &.link-csis {
        @include breakpoint('medium') {
          display: -ms-flex;
          display: inline-flex;
          justify-content: flex-start;
          margin-top: 0.75rem;
          padding-right: $size__padding-desktop;
        }
      }

      @include breakpoint('medium', 'max-width') {
        display: inline-flex;
        height: 100%;
      }
    }

    svg {
      width: 0;
      height: 22.5px;
      transition: all 0.2s ease-in-out;
      fill-opacity: 0.6;

      @include breakpoint('medium') {
        width: 40px;
      }
    }
  }
}

.site-header--minimal {
  height: $size__header-height-mobile;

  .site-logo {
    &::before {
      @include breakpoint('medium') {
        background-color: $color__gray-darkest;
      }
    }

    a {
      display: inline-flex;
      height: 100%;

      &.link-home {
        @include font-size(19px);
        background-color: $color__gray-dark-cool;

        @include breakpoint('medium') {
          padding: 0 $size__padding-desktop;
        }
      }

      &.link-csis {
        margin-top: 0;
        background-color: $color__gray-darkest;
        @include breakpoint('medium') {
          padding-right: $size__padding-desktop;
        }
      }
    }

    &.site-logo--home {
      &::before {
        background-color: $color__gray-darkest;
      }

      a.link-home {
        background-color: $color__orange;
      }
    }

    &.site-logo--csis {
      a.link-csis {
        background-color: $color__black;
      }

      a.link-home {
        color: rgba($color__white, 0.7);
        background-color: $color__gray-dark-cool;
      }
    }
    @include breakpoint('medium') {
      display: flex;
      width: unset;
    }
  }
}
