.site-header {
  position: relative;
  background-color: $color__gray-lighter;
  border-bottom: 2px solid $color__gray-darker;
  transition: all 0.2s ease-in-out;
  @each $size in $sizes__default {
    @include breakpoint($size) {
      $height: return-map-value($sizes__header-height, $size);
      height: $height;
    }
  }

  &--hidden {
    opacity: 0;
  }

  &--minimal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
  }

  .site-logo {
    @extend %font-gibson;
    @include fluid-type(16px, 27px);
    display: inline-block;
    height: 100%;
    font-weight: 100;

    a:hover,
    a:visited,
    a:focus {
      color: $color__white;
    }

    &:not(:focus) {
      outline: 2px solid transparent;
    }

    @include breakpoint('xlarge') {
      display: block;
      width: 350px;
      padding: 0 20px;
      line-height: 1.5;
      background-color: $color__gray-dark-cool;
    }

    a {
      justify-content: center;
      align-items: center;

      @include breakpoint('xlarge', 'max-width') {
        display: inline-flex;
        height: 100%;
      }

      @include breakpoint('xlarge') {
        background-color: transparent;
      }

      &:not(.link-csis) {
        line-height: 1;
        @include breakpoint('xlarge', 'max-width') {
          padding: 0 0.75rem;
          background-color: $color__gray-dark-cool;
        }

        @include breakpoint('xlarge') {
          display: flex;
        }
      }

      &.link-csis {
        @include breakpoint('xlarge', 'max-width') {
          background-color: $color__gray-darkest;
        }

        @include breakpoint('large', $until: 'xlarge') {
          padding: 0 0.75rem;
        }

        @include breakpoint('xlarge') {
          display: inline-flex;
        }

        svg {
          @include breakpoint('large') {
            width: 45px;
          }
        }
      }
    }
  }
}
