#page-header {
  margin: 0 -1.5rem;

  .page-header {
    &__content {
      position: relative;
      min-height: 500px;
      margin: 0 calc((100vw - 100%) / -2);
      color: $color__white;
      background-image: url('../images/taiwan-dots_small.png'),
        url('../images/sb_header_small.jpg');
      background-repeat: no-repeat, no-repeat;
      background-position: 20px bottom, left bottom;
      background-size: 106px, cover;

      &-wrapper {
        position: absolute;
        bottom: 112px;
        max-width: 450px;
        padding: 0 $size__padding-mobile;

        @include breakpoint('medium') {
          bottom: 4rem;
          left: calc((100% - 225px) / 2);
        }
      }

      &-subtitle,
      &-date {
        .data &,
        .about & {
          display: none;
        }
        @include breakpoint('medium', 'max-width') {
          margin-left: 120px;
        }
      }

      &-subtitle {
        margin-bottom: 1rem;
        padding-bottom: 1.5rem;

        background-image: linear-gradient(
          to bottom,
          $color__white 0,
          $color__white 100%
        );

        background-repeat: no-repeat;
        background-position: 0 100%;
        background-size: 240px 1px;
        @include font-size(20px);
      }

      @include breakpoint('medium') {
        background-image: url('../images/taiwan-dots_large.png'),
          url('../images/sb_header_large.jpg');
        background-size: contain, cover;
      }

      @include breakpoint('large') {
        min-height: 650px;
        background-position: 16% bottom, center top;
      }
    }

    &__highlights {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      max-width: $size__container__max-width;
      margin: auto;
      padding: 4rem $size__padding-mobile;

      @include breakpoint('large') {
        padding: 4rem 0;
      }

      main:not(.data) & {
        margin-bottom: 4rem;

        &::after {
          position: relative;
          bottom: -4rem;
          display: block;
          flex-basis: 100%;
          border-bottom: 1px solid rgba($color__gray-darkest, 0.65);
          content: '';
        }
      }

      > * {
        @include breakpoint('medium', 'max-width') {
          flex-basis: 100%;
        }
      }

      .actions {
        @include breakpoint('medium', 'max-width') {
          order: -1;
        }

        @include breakpoint('medium') {
          flex-shrink: 0;
          margin-left: 5rem;
        }
      }

      .jump-links {
        @include breakpoint('medium') {
          flex-basis: calc(100% - 280px - 5rem);
        }

        ul {
          @extend %plain-list;
        }

        li {
          padding-left: 0;
        }

        p {
          margin: 0;

          &:not(:only-child):first-child {
            @include font-size(16px) text-transform: uppercase;
          }
        }
      }
    }
  }

  .h1 {
    font-weight: 500;
    line-height: 1;

    span {
      display: block;
    }

    &.page-header__content-site {
      .homepage & {
        display: none;
      }

      span {
        &:first-child {
          text-transform: uppercase;
          @include fluid-type(24px, 28px);
        }

        &:last-child {
          @include fluid-type(31px, 42px);
        }
      }
    }

    &:not(.page-header__content-site) {
      span {
        &:first-child:not(:only-child) {
          text-transform: uppercase;

          .data &,
          .about & {
            display: none;
          }
          @include fluid-type(34px, 28px);
        }
      }
    }
  }

  @include breakpoint('large') {
    margin: 0 calc((#{$size__header__max-width} - 100%) / -2);
  }
}
