#page-header {
  margin: $size__header-height-mobile 0 3.5rem;
  transition: margin 0.2s ease-in-out;

  @include breakpoint('medium') {
    margin: $size__header-height-desktop 0 3.5rem;

    .site-header--minimal + main & {
      margin-top: $size__header-height-mobile;
    }
  }

  @include breakpoint('large') {
    margin: $size__header-height-desktop
      calc((#{$size__header__max-width} - 100%) / -2) 3.5rem;

    .site-header--minimal + main & {
      margin-top: $size__header-height-mobile;
    }
  }

  .page-header {
    &__content {
      position: relative;
      margin: 0 calc((100vw - 100%) / -2);
      color: $color__white;
      background-image: url('../images/sb_header_small.jpg');
      background-repeat: no-repeat;
      background-position: center top;
      background-size: cover;
      @extend %font-gibson;

      @include breakpoint('medium', 'max-width') {
        height: 500px;
      }

      @include breakpoint('medium') {
        background-image: url('../images/sb_header_large.jpg');
      }

      main:not(.homepage) & {
        @include breakpoint('medium') {
          height: 464px;
        }
      }

      main.homepage & {
        @include breakpoint('medium') {
          height: 650px;
        }
      }

      &-wrapper {
        display: grid;
        grid-column-gap: 1.5rem;
        grid-row-gap: 1rem;
        grid-template-columns: 120px minmax(auto, 360px);
        grid-template-rows: 1fr auto auto;
        max-width: 860px;
        height: 100%;
        margin: auto;
        padding: 0 $size__padding-desktop;
        overflow: hidden;

        @include breakpoint('medium') {
          left: calc((100% - 225px) / 2);
          grid-column-gap: 3rem;
          grid-template-columns: 280px auto;
        }
      }

      &-details {
        margin-bottom: 3.5rem;
        opacity: 0.9;
      }

      &-graphic {
        @include breakpoint('medium', 'max-width') {
          grid-row-end: 4;
          grid-row-start: 2;
          width: 120px;
          height: auto;
        }

        @include breakpoint('medium') {
          grid-row-end: 4;
          grid-row-start: 1;
          width: auto;
        }

        .homepage & {
          @include breakpoint('medium') {
            height: 100%;
          }
        }
      }

      &-subtitle,
      &-date {
        main:not(.homepage) & {
          display: none;
        }
      }

      &-subtitle {
        margin-bottom: 1rem;
        padding-bottom: 1.5rem;

        background-image: linear-gradient(
          to bottom,
          $color__white 0,
          $color__white 100%
        );

        background-repeat: no-repeat;
        background-position: 0 100%;
        background-size: 240px 1px;
        @include font-size(20px);
      }
    }

    &__highlights {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      max-width: $size__container__max-width;
      margin: auto;
      padding: 3rem 0;

      @include breakpoint('large') {
        padding: 4rem $size__padding-desktop;
      }

      .errorpage & {
        display: none;
      }

      main:not(.data) & {
        margin-bottom: 4rem;

        &::after {
          position: relative;
          bottom: -4rem;
          display: block;
          flex-basis: 100%;
          border-bottom: 1px solid rgba($color__gray-darkest, 0.65);
          content: '';
        }
      }

      > * {
        @include breakpoint('medium', 'max-width') {
          flex-basis: 100%;
        }
      }

      .actions {
        @include breakpoint('medium', 'max-width') {
          order: -1;
        }

        @include breakpoint('medium') {
          flex-shrink: 0;
          margin-left: 5rem;
        }
      }

      .jump-links {
        @include breakpoint('medium') {
          flex-basis: calc(100% - 280px - 5rem);
        }

        @extend %link-list;

        li {
          margin: 0;
        }
      }
    }
  }

  .h1 {
    grid-column-end: span 1;
    grid-column-start: 2;
    margin-top: 0;

    span {
      display: block;
    }

    &.page-header__content-site {
      align-self: end;
      line-height: 1.1;

      @include breakpoint('medium', 'max-width') {
        grid-column-end: 3;
        grid-column-start: 1;
      }

      .homepage & {
        display: none;
      }

      span {
        &:first-child {
          letter-spacing: 0.8px;
          text-transform: uppercase;
          @include fluid-type(24px, 28px);
        }

        &:last-child {
          @include breakpoint('small', 'max-width') {
            max-width: 250px;
          }
          font-weight: 500;
          letter-spacing: 1.2px;
          @include fluid-type(31px, 42px);
        }
      }
    }

    &:not(.page-header__content-site) {
      /* stylelint-disable */
      -ms-grid-column: 3;
      -ms-grid-row: 3;
      align-self: start;
      /* stylelint-enable */
      margin: 0;
      line-height: 0.94;

      @include breakpoint('medium') {
        align-self: end;
      }

      .homepage & {
        /* stylelint-disable */
        -ms-grid-column: 3;
        -ms-grid-row: 1;
        /* stylelint-enable */
        @include breakpoint('medium', 'max-width') {
          grid-column-end: 3;
          grid-column-start: 1;
        }
      }

      span {
        &:first-child:not(:only-child) {
          text-transform: uppercase;

          main:not(.homepage) & {
            display: none;
          }
          @include fluid-type(34px, 28px);
        }
      }
    }

    + h1 {
      margin-top: -0.75rem;
      @include breakpoint('medium') {
        margin-top: 1.25rem;
      }
    }
  }
}

main:not(.homepage) .page-header__content-graphic {
  height: 100%;
  justify-self: flex-end;
}
