section.row {
  &:not(#disclaimer) {
    &:not(:first-of-type) {
      &::before {
        position: relative;
        top: -0.25rem;
        display: block;
        grid-column-end: span 3;
        grid-column-start: 1;
        border-top: 2px solid $color__gray-darker;
        content: '';
        @extend %negative-margin;
      }
    }
  }

  &:not(#disclaimer) {
    margin-bottom: 3.5rem;
  }
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

  main:not(.data) & {
    @include breakpoint('large') {
      grid-column-gap: return-map-value($size__grid-gap, 'large');
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto 1fr;
    }

    @include breakpoint('xlarge') {
      grid-column-gap: return-map-value($size__grid-gap, 'xlarge');
    }
  }

  &__intro {
    padding-top: 3rem;
    background-color: $color__gray-lighter;
    @include full-width-background($color__gray-lighter, '', true);

    @include breakpoint('large') {
      grid-area: 1 / 1 / 2 / 2;

      &::after {
        width: calc((100vw - 200% - 72px) / 2 + 100% + 72px);
      }
    }
  }

  &__text {
    grid-area: 3 / 1 / 4 / 2;

    @include breakpoint('large') {
      grid-area: 2 / 1 / 3 / 2;
      padding-top: 2rem;
    }
  }

  &__image {
    @include breakpoint('large') {
      grid-area: 1 / 2 / 3 / 2;
      padding-top: 3rem;

      /* stylelint-disable */
      -ms-grid-row-span: 2;
      /* stylelint-enable */
    }
  }
}

.cantilever {
  @include breakpoint('large') {
    display: grid;
    grid-column-gap: return-map-value($size__grid-gap, 'large');
    grid-template-columns: calc((((100% - 288px) / 12) * 4) + 72px) auto;
    grid-template-rows: 1fr;
  }

  @include breakpoint('xlarge') {
    grid-column-gap: return-map-value($size__grid-gap, 'xlarge');
  }
}

main:not(.faq) {
  .subsection:not(.header) {
    @include breakpoint('large') {
      display: grid;
      grid-column-gap: return-map-value($size__grid-gap, 'large');
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr auto [last-line];
    }

    @include breakpoint('xlarge') {
      grid-column-gap: return-map-value($size__grid-gap, 'xlarge');
    }
  }
}

.columns {
  display: grid;
  grid-row-gap: 1.5rem;

  @include breakpoint('large') {
    grid-template-columns: 1fr 1fr;

    grid-template-rows: 1fr;
  }
}

.report {
  > div {
    display: grid;

    grid-row-gap: 1.5rem;

    @include breakpoint('large') {
      grid-template-columns: 1fr 0.5fr;

      grid-template-rows: 1fr;
    }
  }
}

.homepage {
  #disclaimer {
    @include full-width-background($color__orange);
    padding: 2.5rem 0 4rem;
    color: $color__white;
    background-color: $color__orange;
  }
}

.about {
  .header {
    ul {
      @include breakpoint('medium', 'max-width') {
        grid-column-gap: 2rem;
      }

      @include breakpoint($break: 'medium', $until: 'large') {
        grid-column-gap: 3rem;
      }
      @include breakpoint('large', 'max-width') {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: 1fr;
        justify-content: start;
      }
    }
  }
}
