section::after,
section::before {
  @extend %ellipse;
}

.subsection {
  margin: auto;
}

.one-column {
  h3,
  h4,
  p,
  ul,
  aside {
    max-width: $size__one-column__max-width;
    margin-right: auto;
    margin-left: auto;
  }

  > div:not(:last-child) {
    margin-bottom: 4.5rem;
  }

  .component-image,
  aside {
    @include breakpoint('large') {
      float: right;
      margin-left: 2rem;
    }
  }

  @include breakpoint('medium', 'max-width') {
    aside {
      order: 99;
    }
  }

  .component-image {
    @each $size in $sizes__default {
      @include breakpoint($size) {
        max-width: return-map-value($sizes__one-column__image, $size);
      }
    }
  }

  aside {
    @each $size in $sizes__desktop {
      @include breakpoint($size) {
        max-width: return-map-value($sizes__one-column__image, $size);
      }
    }
  }
}

.two-column {
  @each $size in $sizes__desktop {
    @include breakpoint($size) {
      $big: return-map-value($sizes__two-column__paragraph, $size);
      $small: return-map-value($sizes__two-column__image, $size);
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      > *:last-child {
        margin-left: $size__gap;
      }

      .homepage & {
        > .description p,
        > .text {
          max-width: calc(#{$big} - #{$size__gap} / 2);
        }

        > figure {
          max-width: calc(#{$small} - #{$size__gap} / 2);
        }
      }

      .data & {
        > figure {
          max-width: calc(#{$big} - #{$size__gap} / 2);
        }

        > .text {
          max-width: calc(#{$small} - #{$size__gap} / 2);
        }
      }
    }
  }
}

.about {
  #about,
  #authors {
    &::after {
      content: '...';
      margin: 1.5rem 0 4.5rem;
    }
  }

  #thanks {
    h4 {
      margin-top: 2rem;
      text-align: left;
    }
  }
}

.homepage {
  #outro::before {
    content: '...';
    margin: 1.5rem 0 4.5rem;
  }

  #intro::after {
    content: '...';
    margin: 5rem 0 4.5rem;
  }

  [id^='pillar'],
  .five-flagship-programs,
  .three-innovative-fields {
    margin-bottom: 4.5rem;

    li {
      p:first-of-type {
        display: inline;
      }

      p:not(:first-of-type) {
        @extend %p2;
      }
    }
  }

  .abstract {
    @include breakpoint($break: 'small', $until: 'large') {
      display: flex;
      flex-wrap: wrap;

      p {
        flex-basis: 100%;
        @include order;
      }

      .component-image {
        order: 3;

        + p {
          flex-basis: calc(50% - 1rem);
          order: 2;
        }
      }
    }
  }

  .five-flagship-programs {
    ul {
      @include breakpoint('medium') {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
    }

    li {
      @include breakpoint('medium') {
        flex-basis: 47%;
      }

      &:nth-child(even) {
        @include breakpoint('medium') {
          margin-left: 32px;
        }
      }
    }
  }

  .three-innovative-fields {
    li > *:not(:last-child) {
      display: inline;
    }
  }

  #further-reading {
    @include full-width-background($color__gray-lighter);
    margin-top: 4rem;
    padding: 2.5rem 0 1.5rem;
    background-color: $color__gray-lighter;
    @extend %further-reading;
  }
}
