section::after,
section::before {
  @extend %ellipse;
}

.subsection {
  margin: auto;
}

.one-column {
  h3,
  h4,
  p,
  ul {
    max-width: $size__one-column__max-width;
    margin-right: auto;
    margin-left: auto;
  }

  .homepage & {
    > div:not(:last-child) {
      margin-bottom: 4.5rem;
    }
  }

  .component-image {
    margin-bottom: 1rem;

    @include breakpoint('small') {
      float: right;
      margin-left: 2rem;
    }
  }

  aside {
    @include breakpoint('medium') {
      float: right;
      margin-left: 2rem;
    }
  }

  .component-image {
    @each $size in $sizes__default {
      @include breakpoint($size) {
        max-width: return-map-value($sizes__one-column__image, $size);
      }
    }
  }

  aside {
    @each $size in $sizes__desktop {
      @include breakpoint($size) {
        max-width: return-map-value($sizes__one-column__image, $size);
      }
    }
  }

  @include breakpoint('medium', 'max-width') {
    aside {
      order: 99;
      margin: auto;
    }
  }
}

.two-column {
  @each $size in $sizes__desktop {
    @include breakpoint($size) {
      $big: return-map-value($sizes__two-column__paragraph, $size);
      $small: return-map-value($sizes__two-column__image, $size);
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      > *:last-child {
        margin-left: $size__gap;
      }

      .title {
        flex-basis: 100%;
      }

      .homepage & {
        > .description {
          max-width: $big;
        }

        > figure {
          max-width: calc(#{$small} - #{$size__gap} / 2);
        }
      }

      .data & {
        > figure {
          max-width: $big;
        }

        > .description {
          max-width: calc(#{$small} - #{$size__gap} / 2);
        }
      }
    }
  }
}
